@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins font from Google Fonts fallback */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --background: #000000;
  --foreground: #000000;
  --primary: #6366f1;
  --secondary: #4f46e5;
  --muted: #e5e7eb;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
  background-color: var(--background);
  color: var(--foreground);
}


/* From Uiverse.io by McHaXYT */ 
.button {
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: #151515;
  color: #eee;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.button:hover {
  transform: translateY(-3px);
}

.button-span {
  color: #aaa;
}

